@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1E2A38;
    color: #ecf0f1;
    font-family: "cabin", sans-serif;
}

header {
    background-color: #2c3e50;
    text-align: center;
    padding: 1rem;
}

.oreki {
    border-radius: 50%;
    width: 10rem;
    border: solid #34495e;
}

fieldset{
    padding: 1rem;
    border-radius: 15px;
}

legend{
    position: relative;
    padding: 0rem 1rem 1rem 1rem;
    top: 0.5rem;
}

h2{
    padding: 0.5rem;
}

section p {
    padding: 0.3rem 0.3rem 0.3rem 1rem;
}

h4{
    padding: 1rem;
    text-align: center;
}

.logotipo {
    text-align: center;
}

.logotipo img{
    width: 5rem;
    height: auto;
    margin-right: 1rem;
}

.email a{
    text-decoration: none;
    color: #3498db;
}

footer {
    text-align: center;
    padding: 5rem;
}
